*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    margin: 20px 100px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

#wrapper{
 height:100vh;
 overflow-x: hidden;
 overflow-y: auto;
}

.container{
    height: 100%;
    max-width: 1200px;
    margin:0 auto;
    padding:20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.card{
  width:32%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  


}

.card img{
    width:100%;
    height:100%;
    filter: grayscale(100%);
     object-fit: cover;
}
.card:hover img{
     filter: grayscale(0);
  
}

.card:hover{
    transform: scale(1.03);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #333);
}
.card figcaption{
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  width: 100%;
  height: 20%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
 
  border-radius: 0 0 10px 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.5s;
}
.card:hover figcaption{
    opacity: 1;
}